<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="/ruanx/favicon.ico">
    <title>BZOJ 题号查找器</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    <meta charset="UTF-8">
</head>
<body>

<header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">BZOJ 题号查找器</a>
    </nav>
</header>

<main role="main" class="container" id="vue-main">
    <h1 class="mt-5">&nbsp;</h1>
    <h1 class="mt-5">BZOJ 题号查找器</h1>
    <br>

    <p>
        使用方法：输入4位BZOJ题目编号，然后会给出其他 OJ 的对应的题目。<br>
        不保证准确，也不保证一定有，仅供参考。数据不一定是最新的。<br>
        参考文献：<a href="https://zhuanlan.zhihu.com/p/34660605" target="_blank">https://zhuanlan.zhihu.com/p/34660605</a><br>
    </p>

    <div class="input-group mb-3" style="width: 40%">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">查找题号</span>
        </div>
        <input v-model="no" type="text" class="form-control" placeholder="" />
    </div>

    <br>

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>PID</th>
                <th>名字</th>
                <th>提交</th>
                <th>AC</th>
                <th colspan="4">其他OJ匹配</th>
            </tr>
        </thead>
        <tbody>
            <tr v-if="problem[0].substr(0, no.length) === debouncedNo" v-for="problem in problems">
                <td><b>{{ problem[0] }}</b></td>
                <td><b>{{ problem[1] }}</b></td>
                <td>{{ problem[3] }}</td>
                <td>{{ problem[2] }}</td>
                <template v-if="problem[4] !== ''">
                    <td colspan="2">
                        <a target="_blank" v-bind:href="ojLink(problem[4])">
                            <b>{{ problem[4] }}</b>
                        </a> - {{ problem[5] }}
                    </td>
                    <template v-if="problem[6] !== ''">
                        <td colspan="2">
                            <a target="_blank" v-bind:href="ojLink(problem[6])">
                                <b>{{ problem[6] }}</b>
                            </a> - {{ problem[7] }}
                        </td>
                    </template>
                    <td colspan="2" v-else>
                        -
                    </td>
                </template>
                <td colspan="4" v-else>
                    -
                </td>
            </tr>
        </tbody>
    </table>
</main>


<script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
<script src="https://cdn.bootcss.com/vue/2.5.16/vue.min.js"></script>
<script>
    var v = new Vue({
        el: "#vue-main",
        data: {
            problems: [],
            no: "",
            debouncedNo: ""
        },
        mounted: function() {
            var problems = [];
            var vm = this;
            $.getJSON("./result.json", function (result) {
                result = result.sort();
                vm.problems = result
            });
        },
        watch: {
            no: function (val) {
                var vm = this;
                debounce(function() {
                    vm.debouncedNo = val
                    console.log(val)
                }, 1000)();
            }
        },
        methods: {
            ojLink: function(pid) {
                return pid
                    .replace(/^Luogu([0-9]+)$/, "https://www.luogu.org/problemnew/show/P$1")
                    .replace(/^Loj([0-9]+)$/, "https://loj.ac/problem/$1")
                    .replace(/^Codevs([0-9]+)$/, "http://codevs.cn/problem/$1/")
                    .replace(/^Cogs([0-9]+)$/, "http://cogs.pro:8080/cogs/problem/problem.php?pid=$1")
                    .replace(/^Vijos([0-9]+)$/, "https://vijos.org/p/$1")
            }
        }
    });

    var timer
    function debounce(fn, delay) {
        // 定时器，用来 setTimeout

        // 返回一个函数，这个函数会在一个时间区间结束后的 delay 毫秒时执行 fn 函数
        return function () {

            // 保存函数调用时的上下文和参数，传递给 fn
            var context = this
            var args = arguments

            // 每次这个返回的函数被调用，就清除定时器，以保证不执行 fn
            clearTimeout(timer)

            // 当返回的函数被最后一次调用后（也就是用户停止了某个连续的操作），
            // 再过 delay 毫秒就执行 fn
            timer = setTimeout(function () {
                fn.apply(context, args)
            }, delay)
        }
    }
</script>

</body>
</html>
